<?xml version="1.0"?>
<launch>
  <arg name="start_rviz" default="true" />
  <arg name="ns" default="/robot" />
  <arg name="model_name" default="$robot_name$.urdf" />
  <arg name="robot_name" default="$robot_name$" />

  <!-- Load universal robotic description format (URDF) -->
  <param name="robot_description" textfile="$(find $robot_name$_description)/urdf/$(arg model_name)" />
  
  <!-- Start robot state publisher which reads URDF information and the /joint_states topic to publish tf -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="$robot_name$_state_publisher" />

  <!-- Start an rviz node with a custom configuration for tf tree -->
  <node if="$(arg start_rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find $robot_name$_description)/rviz/$(arg robot_name).rviz" />
</launch>
